<div class="jumbotron text-center">
  <h2><%= I18n.t("app.app_welcome", val: I18n.t("app.name") ) %></h2>
  <p><%= I18n.t("app.app_msg") %></p>
  <%= link_to I18n.t("app.sign_in_as", val: I18n.t("app.member")), new_member_session_path, class: "btn btn-success create-member-btn" %>
  <%= link_to I18n.t("app.sign_in_as", val: I18n.t("app.admin") ), new_admin_session_path, class: "btn btn-success btn-float-left" %>
</div>
