.sign-in-btn{
  width: 100%;
}
.error{
  color: red;
  font-size: 0.875em;
}
.create-member-btn{
  float: right;
}
td {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-float-left{
  float: left;
}